<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        label { display: inherit }
    </style>
</head>
<body style="text-align:center">
    <div class="row" style="background-color:black; color:white">
        <h1>
            <a href="{% url 'top' %}" style="color:white; text-decoration:none">
                果物販売管理
            </a>
        </h1>
    </div>
    {% block main %}
    {% endblock %}
</body>
</html>
